# OSx rubbish
.DS_Store

# Byte-compiled
__pycache__/
*.py[cod]

# Distribution / packaging
dist/

# Sphinx documentation
docs/_build/

# Environments
.venv
env/
venv/
.idea

# Poetry lock file
poetry.lock
.python-version

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# mypy
.mypy_cache/

# Generated documentation
/docs/build/
/docs/source/api/
