[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyscript-cli"
version = "0.2.0"
description = "Command Line Interface for PyScript"
authors = ["Matt Kramer <mkramer@anaconda.com>"]
license = "MIT"
repository = "https://github.com/mattkram/pyscript-cli"
readme = "README.md"
packages = [
    { include = "pyscript", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.7"
importlib-metadata = {version = "^4.11.3", python = "3.7"}
Jinja2 = "^3.1.2"
rich = "^12.3.0"
rich-click = {extras = ["typer"], version = "^1.3.0"}
typer = "^0.4.1"

[tool.poetry.dev-dependencies]
coverage = "^6.3.2"
mypy = "^0.950"
pytest = "^7.1.2"

[tool.poetry.scripts]
pyscript = "pyscript.cli:app"
