<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>

    <!-- Recommended meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://pyscript.net/releases/{{ pyscript_version }}/core.css">
    <script type="module" src="https://pyscript.net/releases/{{ pyscript_version }}/core.js"></script>
  </head>
  <body>
    <script type="py" src="./{{ python_file_path }}" config="./{{ config_file_path }}" terminal></script>
  </body>
</html>
