name: Publish

on:
    # Only on merges into main
    push:
        tags: v[0-9]+.[0-9]+.[0-9]+

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
        -   name: Check out repository
            uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        -   name: Set up python 3.9
            uses: actions/setup-python@bd6b4b6205c4dbad673328db7b31b7fab9e241c0 # v4
            with:
                python-version: 3.9
        -   name: Install Poetry
            uses: snok/install-poetry@14a9190388d183e6952804c1cb053ae05412dbbc # v1.1.6
            with:
                virtualenvs-create: true
                virtualenvs-in-project: true
        -   name: Install package dependencies
            run: poetry install --no-dev
        -   name: Build package
            run: poetry build
        -   name: Publish package
            run: |
                poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
                poetry publish
