name: Publish

on:
    # Only on merges into main
    push:
        tags: v[0-9]+.[0-9]+.[0-9]+

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
        -   name: Check out repository
            uses: actions/checkout@v2
        -   name: Set up python 3.9
            uses: actions/setup-python@v2
            with:
                python-version: 3.9
        -   name: Install Poetry
            uses: snok/install-poetry@d45b6d76012debf457ab49dffc7fb7b2efe8071d # v1.3.3
            with:
                virtualenvs-create: true
                virtualenvs-in-project: true
        -   name: Install package dependencies
            run: poetry install --no-dev
        -   name: Build package
            run: poetry build
        -   name: Publish package
            run: |
                poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
                poetry publish
