name: Test

on:

    pull_request:
        branches:
        -   main

jobs:
    test:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.7', '3.8', '3.9', '3.10']
        runs-on: ${{ matrix.os }}
        env:
            OS: ${{ matrix.os }}
            PYTHON: ${{ matrix.python-version }}
        steps:
        -   name: Check out repository
            uses: actions/checkout@v3
        -   name: Set up python ${{ matrix.python-version }}
            uses: actions/setup-python@v2
            with:
                python-version: ${{ matrix.python-version }}
        -   name: Install Poetry
            uses: snok/install-poetry@v1.1.6
            with:
                virtualenvs-create: true
                virtualenvs-in-project: true
        -   name: Install dependencies
            run: poetry install --no-interaction
        -   name: Type check with mypy
            run: |
                poetry run mypy .
        -   name: Test with pytest
            run: |
                poetry run coverage run -m pytest tests
                poetry run coverage xml
        -   uses: codecov/codecov-action@v2
            with:
                files: ./coverage.xml
                env_vars: OS,PYTHON
